.App {
  text-align: center;
}

.body {
  margin:  0px;
  padding: 0px; 
}

.App {
  margin: 0px;
  padding: 0px; 
}
/* navwrapper */
.App-logo {
  display: flex;
  height: 18vmin;
  margin: 0px 0px 0px 0px;
  padding: 8px 0px 0px 0px;
}

@media(max-width: 714px) {
  .App-logo {
    width: 50%;
    padding: 1px 0px 1px 1px; 
    margin: 0px 0px 1px 0px; 
    
  }
}

.App-header {
  background-color: white;
  min-height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Sun1 {
  display: flex; 
  height: 160px;
  width: 220px;
  position: absolute;
  left: -1px;
  border: 0px solid rgb(241, 243, 243);
  padding: 1px 0px 0px 1px;
  margin: 1px 0px 0px 1px;
 
}
@media(max-width: 615px) {
  .Sun1 {
    display: flex; 
    height: 58px;
    width: 80px;
    position: absolute;
    left: -1px;
    top:0;
    border: 0px solid rgb(241, 243, 243);
    padding: 0px 0px 0px 1px;
    margin: 0px 0px 0px 1px;
    
  }
}

.BoyL {
  display: flex;
  height: 62px;
  width: 32px;
  position: absolute;
  align-items: right;
  right: 249px;
  border: 0px solid rgb(241, 243, 243);
  padding: 20px 0px 0px 1px;
  margin: 5px 0px 0px 0px;
 
}

@media(max-width: 714px) {
  .BoyL {
  display: flex;
  height: 31px;
  width: 16px;
  position: absolute;
  align-items: right;
  right: 39px;
  border: 0px solid rgb(241, 243, 243);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: 30px;
  }
}

.BoyR {
  display:flex;
  height: 62px;
  width: 32px;
  position: absolute;
  align-items: left;
  left: 249px;
  border: 0px solid rgb(241, 243, 243);
  padding: 20px 0px 0px 1px;
  margin: 5px 0px 0px 0px;
 
}

@media(max-width: 714px) {
  .BoyR {
  display: flex;
  height: 31px;
  width: 16px;
  position: absolute;
  align-items: right;
  left: 61px;
  border: 0px solid rgb(241, 243, 243);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: 30px;
  }
}


.GirlL {
  display:flex;
  height: 59px; 
  width: 32px;
  position: absolute;
  align-items: right;
  right: 365px;
  border: 0px solid rgb(241, 243, 243);
  padding: 80px 0px 0px 1px;
  margin: 5px 0px 0px 0px;
 
}

@media(max-width: 714px) {
  .GirlL {
  display: flex;
  height: 31px;
  width: 16px;
  position: absolute;
  align-items: right;
  right: 75px;
  border: 0px solid rgb(241, 243, 243);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: 40px;
  }
}


.GirlR {
  display:flex;
  height: 62px;
  width: 32px;
  position: absolute;
  align-items: left;
  left: 365px;
  border: 1px solid rgb(241, 243, 243);
  padding: 80px 0px 0px 1px;
  margin: 5px 0px 0px 0px;
 
}

@media(max-width: 714px) {
  .GirlR {
  display: flex;
  height: 31px;
  width: 16px;
  position: absolute;
  align-items: right;
  left: 90px;
  border: 0px solid rgb(241, 243, 243);
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  top: 40px;
  }
}

.CopyR {
  position: absolute;
  bottom: -2390px;
  width:12px 12px;
  height: 30px;
  left: 520px;
  padding: 0px 0px 9px 0px;

}
@media(max-width: 714px) {
  .CopyR {
    position: absolute;
    bottom: -3527px;
    width:12px 12px;
    height: 30px;
    left: 100px;
    padding: 0px 0px 9px 0px;
  }
}

h1{
  position: absolute;
  bottom: -2390px;
  right: 0;
  left: 0;
  width: 10px 10px;
  font-size: 12px;
  color: blue;
  padding: 8px;
}
@media(max-width: 714px) {
  h1 {
    position: absolute;
    bottom: -3540px;
    width:12px 12px;
    height: 30px;
    left: 20px;
    padding: 0px 0px 9px 0px;
  }
}



/* homepage// */

.Home-Image {
  text-align: center;
  padding: 25px; 
}

@media(max-width: 615px) {
  .Home-Image  {
    display: flex;
    flex-direction: column;
    color: blue;
    
    width: 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 1.2px;

  }
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

@media(max-width: 714px) {
  a {
    display: flex;
    flex-direction: column;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 1.2px;

  }
}

a:hover {
  background-color: rgb(18, 5, 94);
  letter-spacing: 1.55px;
  text-decoration: none; 
  transition: 0.7s;
  letter-spacing: 3px;
  font-size: 115%;
  color: rgb(220, 217, 238);
}

@media(max-width: 714px) {
  a:hover {
  background-color: skyblue;

  letter-spacing: 1.5px;
  text-decoration: none; 
  transition: 0.4s;
  letter-spacing: 3px;
  font-size: 110%;
  color: white;
    
  }
}

.nav-link-wrapper {
  display: flex;
  padding: 5px 5px 5px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 3px 0px 0px 0px;  
  justify-content: space-around;
  width: 100%;
  height: 35px;
  font-size: 19px;
  border-radius: 1px;
  margin-bottom: -60px;
  background-color: blue;
  letter-spacing: 1px;

}




.heading-main {
  color: rgb(5, 5, 8); 
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
}

.Text-Home {
  text-align: center;
  padding: 30px 0px 0px 0px; 
  margin: 50px 0px 0px 0px;
  color: blue;
  font-weight: bold;
  font-size: 19px;
}

@media(max-width: 615px) {
  .Text-Home {
    text-align: center;
    padding: 45px 0px 10px 25px; 
    margin: 90px 0px 10px 10px;
    color: blue;
    font-weight: bold;
    font-size: 19px;
    
  }
}

.Text-Home-Bottom {
  text-align: center;
  padding: 1px 0px 20px 0px; 
  margin: 50px 0px 0px 0px;
  color: blue;
  font-weight: bold;
  font-size: 19px;
}

/* about us page */

.heading-about {
  text-align: center;
  padding: 0px 0px 0px 0px; 
  margin: 90px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-size: 19px;
  font-weight: bold;

}


@media(max-width: 615px) {
  .heading-about {
  text-align: center;
  padding: 50px 0px 0px 0px; 
  margin: 90px 0px 0px 23px;
  color: rgb(1, 1, 17);
  font-size: 19px;
  font-weight: bold;
  width: 100%; 
  }
}

/* /reviews */

.testimonials {
  display: flex;
  width: 19%;
  margin: 39px 0px 0px 100px;
  padding: 52px 0px 0px 500px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 29px;
}
@media(max-width: 615px) {
  .testimonials {
  display: flex;
  width: 19%;
  margin: 59px 0px 0px 0px;
  padding: 59px 0px 0px 220px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 29px;
    
  }
}


.text-reviews {
  display: flex; 
  width: 80%;
  font-size: 19px;
  margin: 19px 0px 0px 100px;
  padding: 25px 0px 0px 115px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media(max-width: 615px) {
  .text-reviews {
    display: flex; 
    width: 75%;
    font-size: 17px;
    margin: 10px 0px 0px 85px;
    padding: 20px 0px 0px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
}



.Pencil {
  display: flex;
  position: absolute;
  left: -10px;
  top: 310px;
  margin: 0px 0px 0px -19px;
  padding: 0px 0px 0px 0px;
  width: 290px;
  height: 850px;
}
@media(max-width: 714px) {
  .Pencil {
    display: flex;
    position: absolute;
    padding: 15px;
    top: 499px;
    width: 107px;
    height: 370px;
    
  }
}


.about-teacher {
  display: flex;
  padding: 10px 0px 10px 95px;
  margin: 10px 0px 10px 95px;
  width: 60%;
  flex-direction: column;
  
}

@media(max-width: 714px) {
  .about-teacher {
    display: flex;
    padding: 0px 0px 0px 65px;
    margin: 0px 0px 0px 65px;
    width: 54%;
    flex-direction: column;
    
  }
}

.Amber {
  display: flex;
  position: absolute;
  right: 50px;
  bottom: 10px;
  height: 263px;
  width: 200px;
}
@media(max-width: 714px) {
  .Amber {
  display: flex;
  position: absolute;
  right: 6px;
  bottom: -55px;
  height: 119px;
  width: 90px;
    
  }
}

.Jill {
  display: flex;
  right: 50px;
  
  bottom: -300px;
  position: absolute;
  height: 263px;
  width: 200px;

}

@media(max-width: 714px) {
  .Jill {
  display: flex;
  position: absolute;
  right: 6px;
  bottom: -650px;
  height: 119px;
  width: 90px;
    
  }
}


.Room1 {
 display: flex;
 flex-direction: column;
 padding: 5px;
 margin: 5px;
 height: 238px;
 width: 335px;
}

@media(max-width: 714px) {
  .Room1 {
  display: flex;
  position: absolute;
  right: 2px;
  bottom: -2230px;
  height: 119px;
  width: 168px;
    
  }
}

.Room2 {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  height: 238px;
  width: 335px;
}

@media(max-width: 714px) {
  .Room2 {
  display: flex;
  position: absolute;
  right: 355px;
  bottom: -2230px;
  height: 119px;
  width: 168px;
    
  }
}

.Room3 {
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin: 5px;
  height: 238px;
  width: 335px;
}

@media(max-width: 714px) {
  .Room3 {
    
      display: flex;
      position: absolute;
      right: 179px;
      bottom: -2230px;
      height: 119px;
      width: 168px;
    
  }
}

.Crayon {
  display: flex;
  position: absolute;
  padding: 15px;
  top: 300px;
  width: 130px;
  height: 1000px;

}

@media(max-width: 714px) {
  .Crayon {
  display: flex;
  position: absolute;
  padding: 7px;
  top: 495px;
  width: 98px;
  height: 750px;
    
  }
}

.threepics {
  display: flex;
  padding: 3px 0px 0px 119px;
}

@media(max-width: 714px) {
  .threepics {
    display: flex;
    flex-direction: row-reverse;
    padding: 13px 0px 0px 11px;

    
  }
}

/* curriculum */
.header-cur {
  display: flex;
  position: absolute;
  text-align: center;
  right: 150px;
  width: 69%;
  margin: 30px 0px 0px 10px;
  padding: 50px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}

@media(max-width: 714px) {
  .header-cur {
  display: flex;
  position: absolute;
  text-align: center;
  right: 50px;
  width: 73%;
  margin: 65px 0px 0px 0px;
  padding: 55px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
    
  }
}

.header-cur-body {
  display: flex;
  width: 69%;
  margin: 17px 0px 0px 35px;
  padding: 159px 0px 0px 190px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-size: 19px;
}
@media(max-width: 714px) {
  .header-cur-body {
    display: flex;
    width: 78%;
    margin: 37px 0px 0px 35px;
    padding: 279px 0px 0px 70px;
    color: rgb(1, 1, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    
  }
}

.Zoo-Phonics {
  display: flex;
  flex-direction: column;
  top: 2px;
  width: 69%;
  margin: 12px 0px 0px 10px;
  padding: 25px 0px 0px 190px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-size: 19px;
}
@media(max-width: 714px) {
  .Zoo-Phonics {
    display: flex;
    flex-direction: column;
    top: 2px;
    width: 89%;
    margin: 2px 0px 0px 10px;
    padding: 20px 0px 0px 12px;
    color: rgb(1, 1, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 18px;
    
  }
}


.DISTAR {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin: 12px 0px 0px 10px;
  padding: 22px 0px 0px 190px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-size: 19px;
}
@media(max-width: 714px) {
  .DISTAR {
    display: flex;
    flex-direction: column;
    top: 2px;
    width: 89%;
    margin: 2px 0px 0px 10px;
    padding: 20px 0px 0px 12px;
    color: rgb(1, 1, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 18px;
    
  }
}

.list1 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 209px;
  padding: 5px 0px 0px 19px; 
  margin: 0px 0px 0px 10px;
  
}

@media(max-width: 714px) {
  .list1 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    padding: 15px 0px 0px 19px; 
    margin: 10px 0px 0px 10px;
    
  }
}

.list2 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 209px;
  
  padding: 5px 0px 0px 19px; 
  margin: 0px 0px 0px 10px;
}
@media(max-width: 714px) {
  .list2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    padding: 15px 0px 0px 19px; 
    margin: 10px 0px 0px 10px;
    
  }
}

.list3 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 209px;
  
  padding: 5px 0px 0px 19px; 
  margin: 0px 0px 0px 10px;
}
@media(max-width: 714px) {
  .list3 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    padding: 15px 0px 0px 19px; 
    margin: 10px 0px 0px 10px;
    
  }
}

.list4 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 209px;
  padding: 5px 0px 0px 19px; 
  margin: 0px 0px 0px 10px;
}
@media(max-width: 714px) {
  .list4 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    padding: 15px 0px 0px 19px; 
    margin: 10px 0px 0px 10px;
    
  }
}

.list5 {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 209px;
  
  padding: 5px 0px 0px 19px; 
  margin: 0px 0px 0px 10px;
}
@media(max-width: 714px) {
  .list5 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    padding: 15px 0px 0px 19px; 
    margin: 10px 0px 0px 10px;
    
  }
}

.Pencilc {
  display: flex;
  position: absolute;
  left: -10px;
  top: 310px;
  margin: 0px 0px 0px -19px;
  padding: 0px 0px 0px 0px;
  width: 290px;
  height: 850px;
}

@media(max-width: 714px) {
  .Pencilc {
  display: flex;
  position: absolute;
  padding: 15px;
  top: 499px;
  width: 107px;
  height: 370px;
    
  }
}

.dinodig {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 97px;
  top: 539px;
  padding: 0px 0px 0px 0px;
}

@media(max-width: 714px) {
  .dinodig {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 13px;
  top: 1059px;
  padding: 0px 0px 0px 0px;
  font-size: 11px;
  }
}

.Dinodig {
  
  
  padding: 5px;
  margin: 5px;
  height: 227px;
  width: 321px;
}

@media(max-width: 714px) {
  .Dinodig {
    padding: 5px;
    margin: 5px;
    height: 114px;
    width: 161px;
    
  }
}

.Dinodig2 {
  
  
  padding: 5px;
  margin: 5px;
  height: 335px;
  width: 238px;
}

@media(max-width: 714px) {
  .Dinodig2 {
    padding: 5px;
    margin: 5px;
    height: 114px;
    width: 161px;
    
  }
}

.Dinodig3 {
  
  
  padding: 5px;
  margin: 5px;
  height: 227px;
  width: 321px;
}
@media(max-width: 714px) {
  .Dinodig3 {
    padding: 5px;
    margin: 5px;
    height: 114px;
    width: 161px;
    
  }
}

/* dailysched */
.Daily-Sched {
  display: flex;
  position: absolute;
  text-align: center;
  right: 80px;
  width: 69%;
  margin: 30px 0px 0px 10px;
  padding: 59px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}


#students {
  left: 185px;
  top: 150px;
  font-weight: bold;
  position: relative;
  text-align: Left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid rgb(12, 9, 9);
  width: 69%;
}
@media(max-width: 714px) {
  #students {
    display: flex;
    position: absolute;
    right: 17px;
    align-self: center;
    margin: 10px 0px 0px -29px;
    top: 450px;
    font-size: 14px;
    
  }
}

#students td, #students th {
  border: 1px solid rgb(12, 11, 14);
  padding: 4px;
}
@media(max-width: 714px) {
  #students td, #students th {
    border: 0.25px solid rgb(12, 11, 14);
    padding: 1px;
    
  }
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  background-color: blue;
  color: white;
}
@media(max-width: 714px) {
  #students th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: blue;
  color: white;
    
  }
}


h4 {
  display: flex;
  position: absolute;
  right: 500px;
  align-self: center;
  top: 220px;
  font-size: 19px;

}
@media(max-width: 714px) {
  h4 {
    display: flex;
    position: absolute;
    right: 18px;
    align-self: center;
    margin: 15px 0px 0px 5px;
    top: 400px;
    font-size: 19px;
    
  }
}

/* calendar */

.heading-calendar {
  display: flex;
  position: absolute;
  text-align: center;
  right: 0px;
  top: 240px;
  width: 69%;
  margin: 1px 0px 0px 10px;
  padding: 1px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}
@media(max-width: 714px) {
  .heading-calendar {
  display: flex;
  position: absolute;
  text-align: center;
  right: 35px;
  top: 410px;
  width: 79%;
  margin: 1px 0px 0px 10px;
  padding: 1px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
    
  }
}

.heading-events {
  display: flex;
  position: absolute;
  text-align: center;
  right: -130px;
  top: 390px;
  width: 69%;
  margin: 1px 0px 0px 10px;
  padding: 1px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}

@media(max-width: 714px) {
  .heading-events {
    display: flex;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 500px;
    width: 69%;
    margin: 1px 0px 0px 10px;
    padding: 1px 0px 0px 0px;
    color: rgb(1, 1, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 19px;
    
  }
}


.calendar-dates {
  display: flex;
  flex-direction: column;
  position: absolute;
  RIGHT: 247px;
  top: 509px;
  padding: 10px 1px 0px 0px;
  margin: 10px 1px 1px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}
@media(max-width: 714px) {
  .calendar-dates {
  display: flex;
  flex-direction: column;
  position: absolute;
  RIGHT: 230px;
  top: 589px;
  padding: 10px 1px 0px 0px;
  margin: 10px 1px 1px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: blue;
    
  }
}
button > a {
  display: flex;
  position: absolute;
  top: 320px;
  right: 550px;
  background-color: blue;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media(max-width: 714px) {
  button > a {
  display: flex;
  position: absolute;
  top: 540px;
  right: 100px;
  background-color: blue;
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
}


button > a:hover {
  background-color: rgb(73, 136, 230);
  letter-spacing: 1.5px;
  text-decoration: none; 
  transition: 0.5s;
  letter-spacing: 1.5px;
  font-size: 110%;
  color: rgb(250, 252, 252);
 
}

.firepics {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 247px;
  top: 509px;
  padding: 0px 0px 0px 0px;
}
@media(max-width: 714px) {
  .firepics {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 329px;
    top: 562px;
    padding: 0px 0px 0px 0px;
    
  }
}

.fire {
  
  
  padding: 5px;
  margin: 10px;
  height: 238px;
  width: 335px;
}
@media(max-width: 714px) {
  .fire {
  padding: 5px;
  margin: 10px;
  height: 119px;
  width: 168px;
    
  }
}

.fire1 {
  
  padding: 5px;
  margin: 10px;
  height: 238px;
  width: 335px;
}
@media(max-width: 714px) {
  .fire1 {
  padding: 5px;
  margin: 10px;
  height: 119px;
  width: 168px;
    
  }
}

.fire2 {

  
  padding: 5px;
  margin: 10px;
  height: 238px;
  width: 335px;
}
@media(max-width: 714px) {
  .fire2 {
  padding: 5px;
  margin: 10px;
  height: 119px;
  width: 168px;
    
  }
}

/* policies */

.Policies {
  text-align: center;
  padding: 0px 0px 0px 0px; 
  margin: 90px 0px 0px 0px;
  color: rgb(1, 1, 17);
  font-size: 29px;
  font-weight: bold;
}
@media(max-width: 714px) {
  .Policies {
  text-align: center;
  padding: 0px 0px 0px 30px; 
  margin: 125px 0px 0px 25px;
  color: rgb(1, 1, 17);
  font-size: 29px;
  font-weight: bold;
    
  }
}


.policies-body {
  display: flex;
  padding: 25px 0px 10px 130px;
  margin: 10px 0px 0px 140px;
  width: 60%;
  flex-direction: column;
}
@media(max-width: 714px) {
  .policies-body {
    display: flex;
    padding: 10px 0px 10px 50px;
    margin: 10px 0px 0px 50px;
    width: 75%;
    flex-direction: column;
    
  }
}

.Pencil-pol {
  display: flex;
  position: absolute;
  left: -10px;
  top: 310px;
  margin: 0px 0px 0px -19px;
  padding: 0px 0px 0px 0px;
  width: 290px;
  height: 850px;
}

@media(max-width: 714px) {
  .Pencil-pol {
    display: flex;
    position: absolute;
    padding: 15px;
    top: 499px;
    width: 107px;
    height: 370px;
    
  }
}

.contact1 > a {
  display: flex;
  background-color:blue;
  border: none;
  color: white;
  margin: 14px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
}

/* /.Registration */
.Registration {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 207px;
  top: 405px;
  padding: 0px 0px 0px 0px;
  width: 275px;
  height: 220px;
}

@media(max-width: 714px) {
  .Registration {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 310px;
  top: 1065px;
  padding: 0px 0px 0px 0px;
  width: 125px;
  height: 99px;
    
  }
}

.Registration2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  Right: 207px;
  top: 709px;
  padding: 0px 0px 0px 0px;
  width: 204px;
  height: 275px;
}
@media(max-width: 714px) {
  .Registration2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 170px;
  top: 1065px;
  padding: 0px 0px 0px 0px;
  width: 125px;
  height: 99px;
    
  }
}
.regist-body {
  display: flex;
  padding: 25px 0px 10px 130px;
  margin: 10px 0px 0px 140px;
  width: 60%;
  flex-direction: column;
  font-size: 17px;
}
@media(max-width: 714px) {
  .regist-body {
    display: flex;
    padding: 10px 0px 0px 55px;
    margin: 10px 0px 0px 55px;
    width: 72%;
    flex-direction: column;
    
  }
}

h5 {
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media(max-width: 714px) {
  h5 {
   font-size: 19px;
   margin: 1px;
  }
}






/* contactus */

.Contact-Form {
  max-width: 420px;
  position: absolute;
  right: 500px;
  top: 430px;
  margin: 0 auto;
  text-align: left;
  color:blue;
  font-weight: bold;

}
@media(max-width: 714px) {
  .Contact-Form  {
    max-width: 420px;
    position: absolute;
    right: 0px;
    top: 610px;
    margin: 0 auto;
    text-align: left;
    color:blue;
    font-weight: bold;
  }
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2px;
}

input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(112, 151, 224);
}

.contactus-body {
  display: flex;
  padding: 95px 0px 10px 130px;
  margin: 15px 0px 0px 190px;
  width: 50%;
  flex-direction: column;
  font-size: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  
}
@media(max-width: 714px) {
  .contactus-body {
    display: flex;
    padding: 105px 0px 10px 100px;
    margin: 25px 0px 0px 35px;
    width: 74%;
    flex-direction: column;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
}


@media(max-width: 714px) {
  .App {
    flex-direction: row-reverse;
    align-content: space-between;
    padding: 1px 0px 1px 10px; 
    margin: 3px 1px 0px 1px; 
    color: rgb(15, 32, 15); 
  }
}

@media(max-width: 714px) {
  .nav-link-wrapper {
    display: flex;
    
    flex-direction: column;
    background-color: white;
    padding: 98px 0px 0px 37px; 
    margin: 6px 0px 0px 17px; 
    
  }
}



@media(max-width: 714px) {
  .text {
    
    padding: 15px 0px 15px 19px; 
    margin: 0px 0px 13px 0px; 
    
  }
}